<header>
	<h1>%%%imdb_title_orig%%%</h1>
</header>

{IF IS_ADMIN}
<a href="#" class="editlink" data-imdbid="%%%imdb_id%%%"><img src="./fdb_img/edit.png" alt="edit"/></a>
{ENDIF IS_ADMIN}

<section class="card">

	<div class="img">
		<a href="http://www.imdb.com/title/tt%%%IMDBID_PADDED%%%"
		    target="_blank"><img src="%%%PHOTO%%%" alt="%%%imdb_title_orig%%%" /></a>
	</div>

	<section class="main_details">
    	{IF TITLE_DIFF}
		<h2>%%%imdb_title_deu%%%</h2>
		{ENDIF TITLE_DIFF}

		<p class="year_runtime">%%%imdb_year%%%, %%%imdb_runtime%%% Minuten</p>
		<p class="plot"><span>%%%imdb_plot%%%</span></p>

		<p class="genre">
		{{{LOOP_genres
			<span class="csv"><a href="#" data-id="%%%genres.id%%%">%%%genres.name%%%</a></span>
		}}}
		</p>

		<div class="star">%%%imdb_rating%%%</div>
    	{IF custom_rating}
		<div class="star">%%%custom_rating%%%</div>
		{ENDIF custom_rating}

		<dl>
			<dt>Sprachen:</dd>
			<dd>
				{IF language_deu}
				<span class="csv">deu</span>
				{ENDIF language_deu}

				{IF language_eng}
				<span class="csv">eng</span>
				{ENDIF language_eng}

				{IF language_omu}
				<span class="csv">OmU</span>
				{ENDIF language_omu}
			</dd>
			%%%BECHDEL%%%
		</dl>

	</section><!-- class="main_details" -->
</section><!-- class="card" -->

<section class="associated">
	<label>Regie</label>
	<ul class="directors">
	{{{LOOP_director
		<li{IF moviecount} data-count="%%%director.moviecount%%%"{ENDIF moviecount}>
			{IF moviecount}<a href="#" data-id="%%%director.id%%%">{ENDIF moviecount}%%%director.name%%%{IF moviecount}</a>{ENDIF moviecount}
		</li>
	}}}
	</ul>

	{IF cast}
	<label>Cast</label>
	<ul class="actors">
	{{{LOOP_cast
		<li{IF moviecount} data-count="%%%cast.moviecount%%%"{ENDIF moviecount}>
			{IF moviecount}<a href="#" data-id="%%%cast.id%%%">{ENDIF moviecount}%%%cast.name%%%{IF moviecount}</a>{ENDIF moviecount}
		</li>
	}}}
	</ul>
	{ENDIF cast}

	{IF NOTES_QUALITY}
	<label>Anmerkungen</label>
	{ENDIF NOTES_QUALITY}

	{IF custom_notes}
	<p>%%%custom_notes%%%</p>
	{ENDIF custom_notes}

	{IF custom_quality}
	<dl>
		<dt>Qualität</dt>
		<dd>%%%custom_quality%%%</dd>
	</dl>
	{ENDIF custom_quality}

	{IF IS_ADMIN}
	<span class="date_update">%%%date_update%%%</span>

	<a href="#" class="updatelink" data-imdbid="%%%imdb_id%%%"><img src="./fdb_img/refresh.png" alt="refresh"/></a>
	<a href="#" class="addlink" data-imdbid="%%%imdb_id%%%"><img src="./fdb_img/add.png" alt="add"/></a>
	{ENDIF IS_ADMIN}

</section><!-- class="associated" -->